*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: pink;
}

#main{
    display: flex;
    width: clamp(5em,100vw,400em);
    height: clamp(25em,100vh,400em);
    position: relative;
    flex-direction: column;
}

.header{
    display: flex;
    width: inherit;
    height: 20vh;
    padding-right: auto;
    /* position: absolute; */
    vertical-align: middle;
}

.header-item{
    margin: auto;
    padding: 1%;
    border: 1px solid;
    border-radius: 1em;
    vertical-align: baseline;
    text-align: left;
    width:10%;
    display: inline-grid;
    align-items: center;
    grid-template-columns: 25px auto;
    column-gap: 0;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: transparent;
  color: black;
  padding: 1%;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 15%;
  right: 3.7%;
  border: 3px solid #f1f1f1;
  margin-left: 1%;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 15em;
  padding: 2%;
  background-color: white;
  text-align: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 1% 0 3% 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 6%;
  margin-top: 2%;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
    vertical-align: middle;
    padding-top: 8%;
}

.content{
    display: flex;
    height: 90%;
    width: 75%;
    flex-direction: column;
    background-color: white;
    border: 0px solid white;
    border-radius: 1%;
    margin-bottom: 10%;
}

.main-body{
    display: flex;
    /* position: absolute; */
    height: 80vh;
    width: 100vw;
}

.navbutton{
    margin:10%;
    height: max-content;
    padding: 2% 1% 2% 1%;
    vertical-align: middle;
}

.genre-search{
    height: fit-content;
    width: 100%;
}

#searchbar{
    width: 70%;
    margin: 1%;
}

.cards{
    margin-top: 15px;
    display: flex;
    width: inherit;
    height: fit-content;
    flex-direction: row;
    position: relative;
}

.card{
    margin-left: 5%;
    background-color: green;
    padding: 3%;
}

.card:nth-child(){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    height: auto;
    position: absolute;
}

.book-cover{
    height: 160px; 
    width: 120px;
    background-color: aqua;
    z-index: -1;
}

.book-overlay{
    visibility: visible;
    width: 120px;
    height: 100%;
    z-index: 10;
    position: absolute;
    fill: hotpink;
}
