*{
    padding: 0;
    margin: 0;
}

body{
    background-color: pink;
}

#main{
    display: flex;
    width: clamp(5em,100vw,400em);
    height: clamp(25em,100vh,400em);
    position: relative;
    flex-direction: column;
}

.header{
    display: flex;
    width: inherit;
    height: 20vh;
    padding-right: auto;
    /* position: absolute; */
    vertical-align: middle;
}

.header-item{
    margin: auto;
    padding: 1%;
    border: 1px solid;
    border-radius: 15%;
    vertical-align: middle;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
    vertical-align: middle;
    padding-top: 8%;
}

.content{
    display: flex;
    height: 90%;
    width: 75%;
    flex-direction: column;
    background-color: white;
    border: 0px solid white;
    border-radius: 1%;
    margin-bottom: 10%;
}

.main-body{
    display: flex;
    /* position: absolute; */
    height: 80vh;
    width: 100vw;
}

.navbutton{
    margin:10%;
    height: max-content;
    padding: 2% 1% 2% 1%;
    vertical-align: middle;
}

.genre-search{
    height: fit-content;
    width: 100%;
}

#searchbar{
    width: 70%;
    margin: 1%;
}

.cards{
    margin-top: 15px;
    display: flex;
    width: inherit;
    height: fit-content;
    flex-direction: row;
    position: relative;
}

.card{
    margin-left: 5%;
    background-color: green;
    padding: 3%;
}

.card:nth-child(){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    height: auto;
    position: absolute;
}

.book-cover{
    height: 160px; 
    width: 120px;
    background-color: aqua;
    z-index: -1;
}

.book-overlay{
    visibility: visible;
    width: 120px;
    height: 100%;
    z-index: 10;
    position: absolute;
    fill: hotpink;
}
